**/.DS_Store
.idea/**

# Xcode user-specific data
**/xcuserdata/

node_modules

playwright-report

test-results

.env

.yalc

yalc.lock

dist
dist/
dist/*

# Swift

*.xcworkspace/
*.xcodeproj/
*.xcuserdata/

bwell-swift-iOS/project.xcworkspace
